.ui5xAccordion {
    width: 100%;
    box-sizing: border-box;

    background: @sapUiGroupContentBackground;

    border: 1px solid @sapUiGroupContentBorderColor;
    border-radius: 0.5rem;

    overflow: hidden;
}

.ui5xAccordion > .ui5xAccordionItem:last-child {
    border-bottom: 0;
}